*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Metropolis';
    src: url('fonts/Metropolis-Medium.eot');
    src: url('fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Metropolis-Medium.woff2') format('woff2'),
    url('fonts/Metropolis-Medium.woff') format('woff'),
    url('fonts/Metropolis-Medium.ttf') format('truetype'),
    url('fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeueRegular.eot');
    src: url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueRegular.woff2') format('woff2'),
    url('fonts/BebasNeueRegular.woff') format('woff'),
    url('fonts/BebasNeueRegular.ttf') format('truetype'),
    url('fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1.5625rem 0 0.75rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.logo {
    display: inline-block;
    max-width: 351px;
    float: left;
}
.logo img {
    width: 100%;
}
header nav ul li a:after{
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: #ff0000;
    transition: 0.5s;
}

header nav ul li:hover a:after, header nav ul li.active a:after{
    width: 100%;
}
header form{
    background-color: #ebebeb;
    width: 208px;
    height: 42px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
    margin-top: 9px;
    margin-left: 25px;
    float: right;
}
header form input{
    width: 70%;
    border: none;
    background: transparent;
    line-height: 42px;
    display: inline-block;
    vertical-align: top;
    color: #959595;
    font-size: 15px;
    padding-left: 16px;
    box-sizing: border-box;

}
header form button{
    display: inline-block;
    width: 27%;
    height: 42px;
    border: none;
    background-color: transparent;
    vertical-align: top;
    color: red;
}
header .btn{
    min-width: 170px;
    background-color: #252525;
    color: white;
    display: inline-block;
    line-height: 42px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin-left: 24px;
    float: right;
    margin-top: 9px;
    font-family: 'Metropolis';
    font-size: 15px;
}

header .btn.grey{
    background-color: #464646;
}

header .btn.red{
    background-color: red;

}
.container:after, header nav ul li:after{
    content: "";
    display: block;
    clear: both;
}
.border {
    border-bottom: solid 1px #464646;
    padding-bottom: 21px;
    margin-bottom: 21px;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    float: left;
    font-family: 'Bebas Neue';
    color: white;
    margin-right: 30px;
    font-size: 25px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
.fas, .far{
    margin-right: 10px;
    font-size: 18px;
}
.soc_icon {
    margin-right: 15px;
    float: right;
    background-color: red;
    display: inline-block;
    text-align: center;
    min-width: 20px;
    padding: 3px 3px 2px;
}
.soc_icon:first-of-type{
    margin-right: 0;
}
.soc_icon i{
    color: black;
    font-size: 20px;
}
.fab.fa-facebook-f{
    position: relative;
    bottom: -3px;
}
.soc_icon:after{
    content: "";
    clear: both;
    display: block;
}
.video{
    width: 80%;
    height: 400px;
    background-color: #cccccc;
    position: relative;
    margin: auto;
}
.video:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    display: block;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.video:hover:after{
    height: 0;
}
.relet{
    position: relative;
}