*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Metropolis';
    src: url('fonts/Metropolis-Medium.eot');
    src: url('fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Metropolis-Medium.woff2') format('woff2'),
    url('fonts/Metropolis-Medium.woff') format('woff'),
    url('fonts/Metropolis-Medium.ttf') format('truetype'),
    url('fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeueRegular.eot');
    src: url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueRegular.woff2') format('woff2'),
    url('fonts/BebasNeueRegular.woff') format('woff'),
    url('fonts/BebasNeueRegular.ttf') format('truetype'),
    url('fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header {
    background-image: url("images/photo.jpg");
    width: 100%;
}
.menu{
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1.5625rem 0 0.75rem;
    max-width: 100%;
}
.container {
    max-width: 1170px;
    margin: auto;
    color: white;
}
.logo {
    display: inline-block;
    max-width: 351px;
    float: left;
}
.logo img {
    width: 100%;
}
header nav ul li a:after{
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: #ff0000;
    transition: 0.5s;
}
header nav ul li:hover a:after, header nav ul li.active a:after{
    width: 100%;
}
header form{
    background-color: #ebebeb;
    width: 208px;
    height: 42px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
    margin-top: 9px;
    margin-left: 25px;
    float: right;
}
header form input{
    width: 70%;
    border: none;
    background: transparent;
    line-height: 42px;
    display: inline-block;
    vertical-align: top;
    color: #959595;
    font-size: 15px;
    padding-left: 16px;
    box-sizing: border-box;

}
header form button{
    display: inline-block;
    width: 27%;
    height: 42px;
    border: none;
    background-color: transparent;
    vertical-align: top;
    color: red;
}
header .btn{
    min-width: 170px;
    background-color: #252525;
    color: white;
    display: inline-block;
    line-height: 42px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin-left: 24px;
    float: right;
    margin-top: 9px;
    font-family: 'Metropolis';
    font-size: 15px;
}

header .btn.grey{
    background-color: #464646;
}

header .btn.red{
    background-color: red;

}
.container:after, header nav ul li:after {
    content: "";
    display: block;
    clear: both;
}
.fas, .far{
    margin-right: 10px;
}
.border {
    border-bottom: solid 1px #464646;
    padding-bottom: 21px;
    margin-bottom: 21px;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    float: left;
    font-family: 'Bebas Neue';
    color: white;
    margin-right: 30px;
    font-size: 25px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
}
header .soc_icon {
    margin-right: 15px;
    float: right;
    background-color: red;
    display: inline-block;
    text-align: center;
    min-width: 20px;
    padding: 3px 3px 2px;
}
header .soc_icon:first-of-type{
    margin-right: 0;
}
header .soc_icon i{
    color: black;
    font-size: 20px;
}
header .fab.fa-facebook-f{
    position: relative;
    bottom: -3px;
}
header .soc_icon:after{
    content: "";
    clear: both;
    display: block;
}
h1{
    font-weight: normal;
    font-family: 'Bebas Neue';
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}
h1:after{
    border-bottom: red solid 1px;
    content: '';
    padding-top: 20px;
}
section{
    height: 500px;
}
footer{
    background-color: black;
    padding-bottom: 40px;
}
.subscribe_form{
    max-width: 920px;
    margin: auto;
    padding-bottom: 60px;
}
.subscribe_form p{
    color: white;
    font-family: 'Metropolis';
    font-size: 24px;
    text-align: center;
    font-variant: small-caps;
    padding-top: 65px;
    padding-bottom: 35px;
}
.subscribe_form form{
    margin: auto;
    max-width: 740px;
}
.subscribe_form form input{
    line-height: 42px;
    width: 390px;
    padding-left: 30px;
    font-family: 'Metropolis';
    font-size: 20px;
    box-sizing: border-box;
}
.subscribe_form form button{
    line-height: 52px;
    margin-left: 30px;
    width: 310px;
    font-family: 'Metropolis';
    font-size: 20px;
    background-color: red;
    border: none;
    box-sizing: border-box;
    color: white;
}
.bot_menu{
    background-color: #252525;
    color: white;
    z-index: 1;
    padding-bottom: 65px;
    padding-top: 50px;
}
.bot_menu .container{
    max-width: 1170px;
    margin: auto;
}
.bot_menu .container img{
    max-width: 250px;
    display: inline-block;
    padding-bottom: 45px;
}
.bot_menu .container .soc_icon{
    margin-right: 15px;
    background-color: red;
    display: inline-block;
    text-align: center;
    width: 20px;
    padding: 3px 3px 2px;
}
footer .soc_icon i{
    color: #252525;
    font-size: 20px;
}
.bot_nav{
    font-family: 'Metropolis';
    display: inline-block;
    max-width: 150px;
    vertical-align: top;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}
.bot_nav a{
    color: white;
    text-decoration: none;
    line-height: 40px;
}
